/* index.css 또는 Root.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 전체 스크롤 제거 */
  background-color: #FFF5E4; /* 전체 배경 크림톤 */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

input, textarea {
  font-family: inherit;
  border: none;
  outline: none;
}
